@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@400;600&display=swap');

.estilo1 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #015b52, #adb69f); /* Degradado dinámico */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .login-container {
    z-index: 2;
    text-align: center;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .header {
    margin-bottom: 0px;
  }
  .register-link {
    color: #000000; 
    text-decoration: none; 
    transition: color 0.3s; 
  }
  
  .register-link:hover {
    color: #770303; 
    text-decoration: underline; 
  }

  .logo {
    width: 100%; 
    max-width: 200px; 
    position: relative;
    top: 50px;
    height: auto; 
    margin: -100px auto 10px auto; /* Ajusta el margen superior negativo y el inferior */
    display: block; /* Asegúrate de que se comporte como un bloque para centrarlo */
  }

  .home-logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
  }

  .title {
    color: #000000;
    font-size: 2.5rem;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: justify;
  }
  
  .input-container {
    width: 80%;
    margin: 10px 0;
  }
  
  .input-field {
    padding: 15px 25px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados más grandes */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: border 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  }
  .input-field2 {
    padding: 15px 25px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados más grandes */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: border 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  }
  
  .input-field:focus {
    border-color: #2e7d32; /* Cambiar el color del borde al enfocar */
    box-shadow: 0 0 10px rgba(46, 125, 50, 0.5); /* Efecto de sombra al enfocar */
  }
  
  .login-button {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s; /* Efecto de transformacion */
  }
  
  .login-button:hover {
    background-color: #3ebd53;
    transform: scale(1.05); /* Efecto Buton */
  }
  
  .cloud {
    position: absolute;
    background-size: cover;
    opacity: 0.9;
    animation: float 10s infinite ease-in-out;
  }
  
  @keyframes float {
    0% { transform: translate(0, 0); }
    50% { transform: translate(15px, -15px); }
    100% { transform: translate(0, 0); }
  }
  
  .cloud1 {
    width: 300px;
    height: 250px;
    top: 10%;
    left: 5%;
    background-image: url('https://i.ibb.co/SsB90qS/nube.png');
  }
  
  .cloud2 {
    width: 190px;
    height: 150px;
    top: 20%;
    right: 10%;
    background-image: url('https://i.ibb.co/N9N1htY/nube2.png');
  }
  
  .cloud3 {
    width: 250px;
    height: 225px;
    top: 72%;
    right: 20%;
    background-image: url('https://i.ibb.co/VgWQVBg/nube3.png');
  }
  
  .cloud4 {
    width: 190px;
    height: 150px;
    top: 60%;
    left: 1%;
    background-image: url('https://i.ibb.co/wWWjHFJ/nube2-copia.png');
  }
  

.cloud6 {
    width: 200px;
    height: 160px;
    margin-top: 45%; /* Margen superior para la separación */
    margin-left: 75%; /* Alinear a la derecha */
    margin-right: 5%; /* Margen derecho para la separación */
    background-image: url('https://i.ibb.co/N9N1htY/nube2.png');
}

.cloud7 {
    width: 250px;
    height: 225px;
    margin-top: 30%; /* Margen superior para la separación */
    margin-left: 75%; /* Ajuste del margen izquierdo */
    background-image: url('https://i.ibb.co/VgWQVBg/nube3.png');
}

.cloud8 {
    width: 190px;
    height: 150px;
    margin-top: 45%; /* Margen superior para la separación */
    margin-left: auto; /* Alinear a la derecha */
    margin-right: 65%; /* Margen derecho para la separación */
    background-image: url('https://i.ibb.co/wWWjHFJ/nube2-copia.png');
}
  
  
  @media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
  
    .input-field {
        width: 90%;
        padding: 12px; /* Ajustar el padding */
    }
  
    .cloud1 {
        width: 200px; /* Tamaño responsivo */
        height: 185px; /* Tamaño responsivo */
    }
  
    .cloud2 {
        width: 120px; /* Tamaño responsivo */
        height: 90px; /* Tamaño responsivo */
    }
  }
  
  @media (max-width: 480px) {
    .title {
        font-size: 2rem;
    }
  
    .input-field {
        width: 95%;
        padding: 20px 25px; /* Ajustar el padding */
    }
  
    .cloud1 {
        width: 150px; /* Tamaño responsivo */
        height: 150px; /* Tamaño responsivo */
    }
  
    .cloud2 {
        width: 100px; /* Tamaño responsivo */
        height: 95px; /* Tamaño responsivo */
    }
  
    @media (max-width: 768px) {
    .logo {
        margin: -15px auto 10px auto; /* Reduce el margen superior negativo para pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .logo {
        margin: -150px auto 5px auto; /* Reduce el margen superior negativo aún más para pantallas muy pequeñas */
    }
  }
  }

.leaflet-container {
  height: 100%;
}

/* HomePage.css */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 120vh; /* Cambia a min-height */
  background: linear-gradient(to bottom left, #283372, #1c7a71);
  border: none;
}

/* Sección de bienvenida */
.welcome-section {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  margin:none;
  align-items: center;
  flex-direction: row-reverse;
}

.welcome-icon img {
  position: relative;
  right: 700px;
  width: 200px;
  height: 250px;
  border-radius: 50%;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.welcome-text {
  position: relative;
  right: 80px;
  text-align: left;
  position: relative; /* Alinear el texto al centro */
  font-size: 20px;
}

.welcome-text h2 {
  margin: 10px 0 5px 0;
}

.welcome-text p {
  margin: 0;
}

/* Botón de agregar tarea */
/* Botón de agregar tarea */
.add-task-section {
  margin: 20px 0; /* Ajustamos los márgenes */
}

.add-task-btn {
  background-color: #000000;
  color: #fdfdfd;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-btn:hover {
  background-color: #3ebd53;
  color: #ffffff;
}

.edit-task-section,
.delete-task-section {
  margin: 20px 0; /* Ajustamos los márgenes */
  display: flex; /* Habilitar flexbox */
  justify-content: center; /* Centra horizontalmente los botones */
}

.edit-task-btn,
.delete-task-btn, .api-task-btn {
  background-color: #000000;
  color: #fcfcfc;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Espacio entre los botones */
}

.edit-task-btn:hover,
.delete-task-btn:hover {
  background-color: #3ebd53;
  color: #ffffff;
}

.close-btn {
  position: absolute;
  top: 20px; /* Ajustado para estar en la parte superior */
  right: 20px; /* Ajustado para estar a la derecha */
  background: transparent; /* Sin fondo */
  border: none; /* Sin borde */
  color: #333; /* Color de la X */
  font-size: 24px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  transition: color 0.3s ease; /* Transición para el color */
}

.close-btn:hover {
  color: #ff0000; /* Cambia el color al pasar el mouse */
}

/* Sección de actividades */
.activities-section {
  width: 50%;
  text-align: center;
  margin-top: 20px;
  flex-grow: 1; 
  overflow-y: auto; /* Permite que esta sección crezca según el tamaño de la pantalla */
}

.activities-list {
  margin-top: 20px;
}

.activity-item {
  background-color: #080808;
  color: #000;
  margin: 15px 0;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activity-item:hover {
  background-color: #8dd07e;
}

.activity-item .arrow {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

/* Estilos para el popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: rgba(79, 179, 137, 0.712);
  padding: 40px; /* Ajustado para más espacio */
  border-radius: 10px;
  width: 90%; /* Ajustado para pantallas pequeñas */
  max-width: 600px; /* Limitar ancho máximo */
  text-align: center;
  position: relative; /* Para el botón de cerrar */
}

.popup-content h4 {
  margin-bottom: 20px;
}

.popup-table {
  width: 100%; /* Asegura que la tabla ocupe el ancho completo */
  margin: 20px 0; /* Espaciado entre la tabla y otros elementos */
  display: table; /* Usar display table para mejor alineación */
}

.popup-row {
  display: table-row; /* Usar display table-row para las filas */
}

.popup-cell {
  display: table-cell; /* Usar display table-cell para las celdas */
  padding: 10px; /* Espaciado interno */
  text-align: left; /* Alinea el texto a la izquierda */
  width: 50%; /* Ancho de las celdas */
  border-bottom: 1px solid #ccc; /* Línea divisoria */
}

.edit-delete-buttons {
  display: flex;
  justify-content: center; /* Centra los botones */
  margin-top: 20px; /* Espaciado superior */
}

.popup-content h5 {
  margin-top: 20px; /* Espaciado superior para el subtítulo */
}

/* Estilos para el CustomAlert */
.custom-alert-overlay,
.success-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-translúcido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté en la parte superior */
}

.custom-alert-content,
.success-alert-content {
  background: white; /* Fondo blanco para el popup */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirm-btn,
.cancel-btn,
.close-success-btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn {
  background: #000000; /* Verde */
  color: rgb(255, 255, 255);
}

.confirm-btn:hover {
  background: #3ebd53;
  color: #ffffff;
}

.cancel-btn {
  background: #000000; /* Rojo */
  color: rgb(252, 249, 249);
}

.cancel-btn:hover {
  background: #3ebd53;
  color: #ffffff;
}

/* Estilos para el SuccessAlert */
.close-success-btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #007bff; /* Azul */
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup-content {
    padding: 20px; /* Menos padding en pantallas más pequeñas */
  }

  .custom-alert-content,
  .success-alert-content {
    padding: 15px; /* Ajustar padding para alertas */
  }

  .confirm-btn,
  .cancel-btn,
  .close-success-btn {
    padding: 8px 16px; /* Ajustar el padding de los botones */
  }

  .popup-content h4 {
    font-size: 1.5em; /* Ajustar tamaño de fuente */
  }

  .popup-content p {
    font-size: 1em; /* Ajustar tamaño de fuente */
  }
}

@media (max-width: 780px) {
  .welcome-section {
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 20px; /* Reduce el padding */
  }

  .welcome-icon img {
    position: relative;
    left: 0%;
    width: 150px; /* Reduce el tamaño de la imagen */
    height: 200px; /* Reduce la altura de la imagen */
    margin-right: 0; /* Elimina el margen derecho */
  }
}

 /*Fin de estilos de Home*/
  

  /*ESTE CODIGO DE ABAJO ES DE mapa*/
  .estilo2 {
    background:linear-gradient(to bottom right,#d3ce91, #8d687f ); 
    font-family: 'Poppins';
}

.map-container-small {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.background-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background-image: url('https://i.ibb.co/XCjN3N2/valtozasmenedzsment-gps-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}




.Ubiheader {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo-text {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    color: white;
    font-weight: bold;
    z-index: 4;
    margin-left: 20px;
}

.map-title {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-top: 60px;
    z-index: 2;
    
    
}

.map-subtitle {
    font-size: 1.rem;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 2;
}

.input-mapa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;
}

.map-input {
    padding: 10px;
    width: 250px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.map-button {
    padding: 10px;
    font-size: 1rem;
    background-color: #000000;
    color: rgb(250, 248, 248);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.map-button:hover {
    background-color: #3ebd53;
    color: #ffffff;
}

.map-container {
    position: relative;
    z-index: 1;
    
    
}

.map {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.mancha {
  position: fixed; 
  top: 0;          
  left: 0;         
  width: 400px;   
  height: 1006px;  
  background-image: url('https://i.ibb.co/S0XyR3S/sarl-herve-bruneau-hb-paysage-paysagiste-mauges-sur-loire-element-4.webp');
  background-size: contain;
  background-repeat: no-repeat;
  
 
}

/* Estilos para el CustomAlert */
.custom-alert-overlay-map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-translúcido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté en la parte superior */
}

.custom-alert-content-map {
  background: white; /* Fondo blanco para el popup */
  padding: 20px;  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirm-btn-map {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #000000; /* Color del botón */
  color: hsl(0, 0%, 100%);
}

.confirm-btn-map:hover {
  background: #3ebd53;
  color: #ffffff;
}


/*Estilo Responsive De Ubicacion*/

@media (max-width: 768px) {
  .background-image {
      display: none;
  }
  .logo-text {
    font-size: 0.9rem;
  }

  .map-title {
      font-size: 1.5rem;
      margin-top: 30px;
  }

  .map-subtitle {
      font-size: 0.9rem;font-size: 0.9rem;
  }

  .map-input {
      width: 200px;
  }
  .mancha {
    width: 50%;  
    max-width: 300px;
    
 }
 /*Actividad css*/
}
body.estilo3 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000; /* Fondo negro para simular el espacio */
  height: 100vh;
  overflow: hidden;
  position: relative; /* Para el posicionamiento de las estrellas */
}

.star-act {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle-act 1.5s infinite; /* Animación de parpadeo */
  z-index: 0; /* Asegúrate de que esté detrás de todo */
}

/* Estilo de las estrellas */
@keyframes twinkle-act {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.contenido {
  z-index: 1; /* Contenido debe estar sobre las estrellas */
  color: white;
  text-align: center;
}

/* Contenedor principal que incluye la imagen y el formulario */
.container-act {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px; 
  position: relative; /* Para que las estrellas se posicionen correctamente */
}

/* Contenedor de la imagen */
.image-container-act {
  width: 50%;
  height: 100vh; 
  background-image: url('https://i.ibb.co/kxHWG7w/939fa3ee-d7e3-4085-9b98-8bc8c7ffe849-removebg-preview.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; /* Asegúrate de que la imagen esté sobre las estrellas */
}

/* Contenedor del formulario */
.form-container-act {
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 12px;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  display: flex; 
  flex-direction: column; 
  align-items: stretch;
  z-index: 2; /* Asegúrate de que el formulario esté sobre las estrellas */
}

/* Formulario de actividades */
.activity-form-act {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.label-act {
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

/* Contenedor de los inputs */
.input-container-act {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #030303;
  justify-content: center;
}

/* Estilos para los inputs generales */
.input-act {
  border: 3px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

/* Input para el nombre */
.input-name-act {
  padding: 10px;
  font-size: 24px;
  background-color: transparent;
  border: transparent;
  border-radius: 25px;
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.input-name-act::placeholder {
  color: #000000;
}

/* Estilos para el icono del calendario */
.calendar-icon-act {
  margin-left: 10px;
  cursor: pointer;
  color: #007bff;
}

/* Textarea del formulario */
.form-textarea-act {
  resize: none;
  height: 100px;
  width: 100%;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.notas-label-act {
  margin-bottom: 10px;
}

/* Botón del formulario */
.form-button-act {
  background-color: #000;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s;
}

.form-button-act:hover {
  background-color: #3ebd53;
}
.form-button-act2 {
  background-color: #000;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s;
}

.form-button-act2:hover {
  background-color: #3ebd53;
}
/* Selector de corazones */
.heart-selector-act {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  left: 80px;
  top: 400px;
}

/* styles.css */

/* Estilos generales para los corazones */
.heart-act {
  background: color; /* Cambia 'corazon.color' por un color válido */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px; /* Tamaño por defecto */
  display: inline-block;
  cursor: pointer;
  margin: 0 10px;
}


/* Media Query para dispositivos móviles */



.heart-act:hover {
  transform: scale(1.1);
}

/* Ajustes de posicionamiento de la imagen */
.image-container-act {
  position: absolute;
  top: 16%;
  left: 0;
  right: 0;
  height: 50%;
  z-index: 1;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .estilo3 {
    background-color: #ffffff;
    color: #000;
    overflow: hidden;
  }

  body.estilo3::before {
    display: none;
    
  }

  .container-act {
    width: 420px; /* Cambiar a columna para el diseño móvil */
    height: 1000vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    padding: 0; /* Eliminar el padding para ocupar todo el espacio */
  }

  .image-container-act {
    position: absolute; /* Posicionar la imagen en el fondo */
    top: -330px; /* Alinea al principio de la página */
    left: 110px; /* Alinea a la izquierda */
    right: 0; /* Alinea a la derecha */
    height: 10%; /* Ocupa el 16% de la pantalla */
    background-image: url('https://i.ibb.co/kxHWG7w/939fa3ee-d7e3-4085-9b98-8bc8c7ffe849-removebg-preview.png'); 
    background-size: 140px;
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    z-index: 11; /* Asegura que la imagen esté detrás del formulario */
}


  .form-container-act {
    background: white; /* Color de fondo del formulario */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 12px;
    width: 100%; /* Ocupar el 100% del ancho */
    max-width: none; /* Quitar el max-width para que no limite el tamaño */
    height: calc(10000vh - 100%); /* Hacer que el formulario ocupe el 50% restante de la pantalla */
    margin-top: -10%;
    margin-bottom: 0%; /* Alinea el formulario justo debajo de la imagen */
    z-index: 10; /* Asegura que el formulario esté en la parte superior */
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
  }

  .heart-selector-act {
    position: fixed; /* Mantener los corazones en una posición fija */
    top: 150px; /* Ajustar la posición a la parte inferior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra completamente */
    margin: 0; /* Elimina márgenes */
    z-index: 11;
   
    overflow: hidden;
    
  }
  .heart-act {
    font-size: 40px; /* Ajustar el tamaño de los corazones a un valor más pequeño */
    margin: 2px; /* Ajustar márgenes para los corazones */
    overflow: hidden;
    position: relative; 
    width: 40px;/* Agregar una transición para el efecto hover */
}
 

  .input-container-act {
    width: 100%; /* Asegurar que los inputs ocupen todo el ancho */
    margin-bottom: 15px;
  }

  .input-act, .input-name-act, .form-textarea-act {
    position: relative;
    top: 270px;
    left: -10px;
    font-size: 14px; /* Ajustar el tamaño de fuente */
    padding: 8px; /* Ajustar el padding */
  }

  .form-button-act {
    position: relative;
    top: 300px;
    padding: 10px; /* Ajustar el padding del botón */
    font-size: 16px;
    left: -10px; /* Ajustar el tamaño del texto del botón */
  }
  .form-button-act2 {
    position: relative;
    left: -7px;
    top: 270px;
    padding: 10px; /* Ajustar el padding del botón */
    font-size: 16px; /* Ajustar el tamaño del texto del botón */
  }
}


/* ------ CSS de Perfil -----*/
/* Perfil Container */
.profile-container { 
  background-image: url('https://i.ibb.co/ts5Xdv3/backgrounddivprofile4.png');
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 70px;
  border-radius: 10px; 
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* Para centrar todo el contenido en la pantalla */
.profile-page {
  background: linear-gradient(to bottom right, #9dbb8d, #d8f2cf);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la pantalla */
}

/* Info del perfil */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; /* Reduce el margen inferior */
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-details {
  flex-grow: 1;
}

.nombr {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.email {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px; /* Reduce el margen inferior */
}

/* Acciones del perfil */
.profile-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0; /* Elimina el margen superior */
}

.profile-btn {
  background-color: #32563a;
  color: white;
  border: none;
  padding: 11px 20px;
  border-radius: 5px;
  font-size: calc(14px + 0.5vw); /* Ajusta el tamaño de la fuente de manera responsiva */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 40%; /* Mantiene los botones a un 80% del contenedor */
  max-width: 300px; /* Fija un ancho máximo */
  min-width: 150px; /* Fija un ancho mínimo */
  height: auto;
  margin: 5px 0; /* Espacio entre botones */
  text-align: center;
  display: flex; /* Flex para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  word-break: break-word; /* Evitar que el texto salga del botón */
  text-overflow: ellipsis; /* Recorta el texto si es demasiado largo */
}

.profile-btn:hover {
  background-color: #3ebd53;
}

/* Contenedor de editar perfil */
.edit-profile-container {
    background-image: url('https://i.ibb.co/125BhPS/backgrounddivprofile.png'); /* Imagen de fondo */
    background-size: contain; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 30px;
    border-radius: 10px; /* Puedes mantener el borde redondeado si lo deseas */
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.edit-profile-container h2 {
  margin-bottom: 20px;
}

.edit-profile-container form div {
  margin-bottom: 15px;
  width: 100%;
}

.edit-profile-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-profile-container input,
.edit-profile-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.edit-profile-container button {
  background-color: #32563a;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile-container button:hover {
  background-color: #3ebd53;
}
.star-profile {
  position: absolute;
  background-color: white; /* Cambia esto al color que desees para las estrellas */
  border-radius: 50%;
  animation: blink 1.5s infinite alternate; /* Efecto de parpadeo */
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.snow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Asegura que no se muestren copos fuera de la vista */
  pointer-events: none; /* Para que los copos no interfieran con los clics en otros elementos */
}

.snowflake {
  position: absolute;
  background-color: white; /* Color de los copos de nieve */
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite; /* Animación de caída */
}

/* Animación de caída de la nieve */
@keyframes fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh); /* Caer desde la parte superior hasta la inferior */
  }
}

/* Variar la duración de la animación de caída para diferentes copos */
.snowflake {
  animation-duration: calc(2s + 3s * var(--random));
  animation-delay: calc(0s + 3s * var(--random)); /* Añadir un retraso aleatorio */
}

/* Otras clases que ya tengas en tu CSS */



/* fin del CSS del perfil*/

/*Error Page Css*/


.error-containerErrorPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #80aa80; /* Verde dulce */
  height: 100vh;
  padding: 20px;
}

.error-messageErrorPage {
  flex: 1;
  padding: 20px;
  color: white; /* Color blanco para el texto */
}

.error-messageErrorPage h1 {
  position: relative;
  top: 100%;
  bottom: 30px;
  font-size: 125px; /* Aumentar tamaño de texto */
  text-shadow: 4px 4px 8px rgb(0, 0, 0); /* Añadir contorno negro */
  
}
.error-messageErrorPage h2 {
  position: relative;
  top: 100%;
  bottom: 30px;
  left: 70px;
  font-size: 30px; /* Aumentar tamaño de texto */
  text-shadow: 4px 4px 8px rgb(0, 0, 0); /* Añadir contorno negro */
}

.error-messageErrorPage button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  position: absolute;
  bottom: 27%;
  left: 200px;
  
}

    
.error-messageErrorPage button:hover {
  background-color: #3ebd53;
  transform: scale(1.05);
}



.image-wrapper {
  display: flex;
  align-items: flex-end; /* Alinear la ranita y la planta en la parte inferior */
  margin-right: 150px; /* Espacio entre las imágenes */
}

.main-imageErrorPage {
  position: relative;
  width: 300px; /* Tamaño ajustado de la ranita */
  height: auto;
  margin-right: 5px;
  z-index: 3; /* Espacio entre la ranita y la planta */
  left: 150px;
}

.side-imageErrorPage {
  width: 300px; /* Tamaño ajustado de las plantas */
  position: relative;
  height: auto;
  top: -45px;
  left: -30px;
  z-index: 0;
}

.error-gif-overlay {
  position: absolute;
  top: -30px; /* Ajusta según lo necesites */
  left: 150px;
  width: 75%;
  height: 100%;
  z-index: 3;
  object-fit: cover;
}

@media (max-width: 768px) {
  .error-gif-overlay {
    width: 150px;
    position: absolute; /* Cambiado a absolute */
    top: -450px; /* Centrado verticalmente */
    left: 220px; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro del GIF */
    z-index: 2; /* Asegúrate de que esté por encima */
  }

  .error-containerErrorPage {
    display: flex;
    position: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  

  .main-imageErrorPage{
    width: 150px;
    position: relative;
    top: -500px; 
    z-index: 2;
  }
  .side-imageErrorPage {
    width: 150px;
    position: relative;
    top: -525px; /* Ajusta el tamaño de las imágenes según necesites */
  }

  .error-messageErrorPage {
    text-align: center;
    
  }

  .error-messageErrorPage h1 {
    font-size: 16vw;
    position: relative;
    top: 50%;
  }

  .error-messageErrorPage h2 {
    font-size: 8vw;
    position: relative;
    top: 50%;
    text-align: center;
    left:20px;
   
  }

  .error-messageErrorPage button {
    font-size: 4vw;
    margin-top: 10px; /* Espacio entre h2 y el botón */
    
  }
}
/*Fin De Error Page*/

/*Estilo de Notificacion*/
.noti-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.noti-button:hover {
  background-color: #0056b3;
}

/* Footer*/
.footer {
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  color: white; 
  padding: 5px 10px; 
  border-radius: 5px; 
  font-size: 0.9rem; 
  z-index: 20; 
}

@media (max-width: 768px) {
  .footer {
      display: none; 
  }
}

.footer1 {
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  color: rgb(0, 0, 0); 
  padding: 5px 10px; 
  border-radius: 5px; 
  font-size: 0.9rem; 
  z-index: 20; 
}

@media (max-width: 768px) {
  .footer1 {
      display: none; 
  }
}


/*Fin de Footer*/
/*Fin de Footer*/