@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@400;600&display=swap');

.estilo1 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #015b52, #adb69f); /* Degradado dinámico */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .login-container {
    z-index: 2;
    text-align: center;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .header {
    margin-bottom: 0px;
  }
  .register-link {
    color: #000000; 
    text-decoration: none; 
    transition: color 0.3s; 
  }
  
  .register-link:hover {
    color: #770303; 
    text-decoration: underline; 
  }

  .logo {
    width: 100%; 
    max-width: 200px; 
    position: relative;
    top: 50px;
    height: auto; 
    margin: -100px auto 10px auto; /* Ajusta el margen superior negativo y el inferior */
    display: block; /* Asegúrate de que se comporte como un bloque para centrarlo */
  }

  .home-logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
  }

  .title {
    color: #000000;
    font-size: 2.5rem;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: justify;
  }
  
  .input-container {
    width: 80%;
    margin: 10px 0;
  }
  
  .input-field {
    padding: 15px 25px;
    width: 125%;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados más grandes */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: border 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  }
  .input-field2 {
    padding: 15px 25px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados más grandes */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: border 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  }
  
  .input-field:focus {
    border-color: #2e7d32; /* Cambiar el color del borde al enfocar */
    box-shadow: 0 0 10px rgba(46, 125, 50, 0.5); /* Efecto de sombra al enfocar */
  }
  
  .login-button {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s; /* Efecto de transformacion */
  }
  
  .login-button:hover {
    background-color: #3ebd53;
    transform: scale(1.05); /* Efecto Buton */
  }
  
  .cloud {
    position: absolute;
    background-size: cover;
    opacity: 0.9;
    animation: float 10s infinite ease-in-out;
  }
  
  @keyframes float {
    0% { transform: translate(0, 0); }
    50% { transform: translate(15px, -15px); }
    100% { transform: translate(0, 0); }
  }
  
  .cloud1 {
    width: 300px;
    height: 250px;
    top: 10%;
    left: 5%;
    background-image: url('https://i.ibb.co/SsB90qS/nube.png');
  }
  
  .cloud2 {
    width: 190px;
    height: 150px;
    top: 20%;
    right: 13%;
    background-image: url('https://i.ibb.co/N9N1htY/nube2.png');
  }
  
  .cloud3 {
    width: 250px;
    height: 225px;
    top: 72%;
    right: 20%;
    background-image: url('https://i.ibb.co/VgWQVBg/nube3.png');
  }
  
  .cloud4 {
    width: 190px;
    height: 150px;
    top: 60%;
    left: 1%;
    background-image: url('https://i.ibb.co/wWWjHFJ/nube2-copia.png');
  }
  
  
  @media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
  
    .input-field {
        width: 90%;
        padding: 12px; /* Ajustar el padding */
    }
  
    .cloud1 {
        width: 200px; /* Tamaño responsivo */
        height: 185px; /* Tamaño responsivo */
    }
  
    .cloud2 {
        width: 120px; /* Tamaño responsivo */
        height: 90px; /* Tamaño responsivo */
    }
  }
  
  @media (max-width: 480px) {
    .title {
        font-size: 2rem;
    }
  
    .input-field {
        width: 95%;
        padding: 20px 25px; /* Ajustar el padding */
    }
  
    .cloud1 {
        width: 150px; /* Tamaño responsivo */
        height: 150px; /* Tamaño responsivo */
    }
  
    .cloud2 {
        width: 100px; /* Tamaño responsivo */
        height: 95px; /* Tamaño responsivo */
    }
  
    @media (max-width: 768px) {
    .logo {
        margin: -15px auto 10px auto; /* Reduce el margen superior negativo para pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .logo {
        margin: -150px auto 5px auto; /* Reduce el margen superior negativo aún más para pantallas muy pequeñas */
    }
  }
  }

.leaflet-container {
  height: 100%;
}

  
  
  /*ESTE CODIGO DE ABAJO ES DE mapa*/
  .estilo2 {
    background:linear-gradient(to bottom right,#d3ce91, #8d687f ); 
    font-family: 'Poppins';
}

.map-container-small {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.background-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background-image: url('https://i.ibb.co/XCjN3N2/valtozasmenedzsment-gps-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}




.Ubiheader {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo-text {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    color: white;
    font-weight: bold;
    z-index: 4;
    margin-left: 20px;
}

.map-title {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-top: 60px;
    z-index: 2;
    
    
}

.map-subtitle {
    font-size: 1.rem;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 2;
}

.input-mapa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;
}

.map-input {
    padding: 10px;
    width: 250px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.map-button {
    padding: 10px;
    font-size: 1rem;
    background-color: #474f69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.map-button:hover {
    background-color: #0796d7;
}

.map-container {
    position: relative;
    z-index: 1;
    
    
}

.map {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.mancha {
  position: fixed; 
  top: 0;          
  left: 0;         
  width: 400px;   
  height: 1006px;  
  background-image: url('https://i.ibb.co/S0XyR3S/sarl-herve-bruneau-hb-paysage-paysagiste-mauges-sur-loire-element-4.webp');
  background-size: contain;
  background-repeat: no-repeat;
  
 
}

/*Estilo Responsive De Ubicacion*/

@media (max-width: 768px) {
  .background-image {
      display: none;
  }
  .logo-text {
    font-size: 0.9rem;
  }

  .map-title {
      font-size: 1.5rem;
      margin-top: 30px;
  }

  .map-subtitle {
      font-size: 0.9rem;font-size: 0.9rem;
  }

  .map-input {
      width: 200px;
  }
  .mancha {
    width: 50%;  
    max-width: 300px;
    
 }
 /*Actividad css*/
}
body.estilo3 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right,#6aa39b,#ecdde7);
  height: 100vh;
  overflow: hidden; 
}

body.estilo3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, white 1px, transparent 1px) repeat;
  background-size: 10px 10px;
  opacity: 0.5;
  animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

.contenido {
  z-index: 1;
  color: white;
  text-align: center;
}

/* Contenedor principal que incluye la imagen y el formulario */
.container-act {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px; 
}

/* Contenedor de la imagen */
.image-container-act {
  width: 50%;
  height: 100vh; 
  background-image: url('https://i.ibb.co/kxHWG7w/939fa3ee-d7e3-4085-9b98-8bc8c7ffe849-removebg-preview.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

/* Contenedor del formulario */
.form-container-act {
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 12px;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  display: flex; 
  flex-direction: column; 
  align-items: stretch;
  z-index: 10;
}

/* Formulario de actividades */
.activity-form-act {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.label-act {
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

/* Contenedor de los inputs */
.input-container-act {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #030303;
  justify-content: center;
}

/* Estilos para los inputs generales */
.input-act {
  border: 3px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

/* Input para el nombre */
.input-name-act {
  padding: 10px;
  font-size: 24px;
  background-color: transparent;
  border: transparent;
  border-radius: 25px;
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.input-name-act::placeholder {
  color: #000000;
}

/* Estilos para el icono del calendario */
.calendar-icon-act {
  margin-left: 10px;
  cursor: pointer;
  color: #007bff;
}

/* Textarea del formulario */
.form-textarea-act {
  resize: none;
  height: 100px;
  width: 100%;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.notas-label-act {
  margin-bottom: 10px;
}

/* Botón del formulario */
.form-button-act {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s;
}

.form-button-act:hover {
  background-color: #0056b3;
}

/* Selector de corazones */
.heart-selector-act {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  left: 80px;
  top: 400px;
}

/* styles.css */

/* Estilos generales para los corazones */
.heart-act {
  background: color; /* Cambia 'corazon.color' por un color válido */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px; /* Tamaño por defecto */
  display: inline-block;
  cursor: pointer;
  margin: 0 10px;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .heart-act {
      font-size: 30px; /* Cambia el tamaño de fuente para dispositivos móviles */
      margin: 0 5px; /* Ajusta el margen para dispositivos móviles */
  }
}


.heart-act:hover {
  transform: scale(1.1);
}

/* Ajustes de posicionamiento de la imagen */
.image-container-act {
  position: absolute;
  top: 16%;
  left: 0;
  right: 0;
  height: 50%;
  z-index: 1;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .estilo3 {
    background-color: #ffffff;
    color: #000;
    overflow: hidden;
  }

  body.estilo3::before {
    display: none;
    
  }

  .container-act {
    width: 420px; /* Cambiar a columna para el diseño móvil */
    height: 1000vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    padding: 0; /* Eliminar el padding para ocupar todo el espacio */
  }

  .image-container-act {
    position: absolute; /* Posicionar la imagen en el fondo */
    top: 10px; /* Alinea al principio de la página */
    left: 125px; /* Alinea a la izquierda */
    right: 0; /* Alinea a la derecha */
    height: 15%; /* Ocupa el 16% de la pantalla */
    background-image: url('https://i.ibb.co/kxHWG7w/939fa3ee-d7e3-4085-9b98-8bc8c7ffe849-removebg-preview.png'); 
    background-size: contain; /* Ajusta la imagen sin cortarla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    z-index: 11; /* Asegura que la imagen esté detrás del formulario */
}


  .form-container-act {
    background: white; /* Color de fondo del formulario */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 12px;
    width: 100%; /* Ocupar el 100% del ancho */
    max-width: none; /* Quitar el max-width para que no limite el tamaño */
    height: calc(10000vh - 100%); /* Hacer que el formulario ocupe el 50% restante de la pantalla */
    margin-top: -10%;
    margin-bottom: 0%; /* Alinea el formulario justo debajo de la imagen */
    z-index: 10; /* Asegura que el formulario esté en la parte superior */
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
  }

  .heart-selector-act {
    position: fixed; /* Mantener los corazones en una posición fija */
    top: 150px; /* Ajustar la posición a la parte inferior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra completamente */
    margin: 0; /* Elimina márgenes */
    z-index: 11;
   
    overflow: hidden;
    
  }
  .heart-act {
    font-size: 40px; /* Ajustar el tamaño de los corazones a un valor más pequeño */
    margin: 2px; /* Ajustar márgenes para los corazones */
    overflow: hidden;
    position: relative; 
    width: 40px;/* Agregar una transición para el efecto hover */
}
 

  .input-container-act {
    width: 100%; /* Asegurar que los inputs ocupen todo el ancho */
    margin-bottom: 15px;
  }

  .input-act, .input-name-act, .form-textarea-act {
    position: relative;
    top: 270px;
    font-size: 14px; /* Ajustar el tamaño de fuente */
    padding: 8px; /* Ajustar el padding */
  }

  .form-button-act {
    position: relative;
    top: 300px;
    padding: 10px; /* Ajustar el padding del botón */
    font-size: 16px; /* Ajustar el tamaño del texto del botón */
  }
}






  





/* ------ CSS de Perfil -----*/

/* Perfil Container */
.profile-container { 
  background-image: url('https://i.ibb.co/ts5Xdv3/backgrounddivprofile4.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 30px;
  border-radius: 10px; 
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* Para centrar todo el contenido en la pantalla */
.profile-page {
  background: linear-gradient(to bottom right, #9dbb8d, #d8f2cf);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la pantalla */
}

/* Info del perfil */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-details {
  flex-grow: 1;
}

.username {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.bio {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* Acciones del perfil */
.profile-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px; /* Añadir un poco de espacio superior */
}

.profile-btn {
  background-color: #32563a;
  color: white;
  border: none;
  padding: 11px 20px;
  border-radius: 5px;
  font-size: calc(14px + 0.5vw); /* Ajusta el tamaño de la fuente de manera responsiva */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 45%; /* Mantiene los botones a un 80% del contenedor */
  max-width: 300px; /* Fija un ancho máximo */
  min-width: 150px; /* Fija un ancho mínimo */
  height: auto;
  margin: 7px 0; /* Espacio entre botones */
  text-align: center;
  display: flex; /* Flex para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  word-break: break-word; /* Evitar que el texto salga del botón */
  text-overflow: ellipsis; /* Recorta el texto si es demasiado largo */
}

.profile-btn:hover {
  background-color: #0056b3;
}


/* Contenedor de editar perfil */
.edit-profile-container {

    background-image: url('https://i.ibb.co/125BhPS/backgrounddivprofile.png'); /* Imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 30px;
    border-radius: 10px; /* Puedes mantener el borde redondeado si lo deseas */
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.edit-profile-container h2 {
margin-bottom: 20px;
}

.edit-profile-container form div {
margin-bottom: 15px;
width: 100%;
}

.edit-profile-container label {
display: block;
font-weight: bold;
margin-bottom: 5px;
}

.edit-profile-container input,
.edit-profile-container textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
}

.edit-profile-container button {
background-color: #32563a;
color: white;
border: none;
padding: 12px 20px;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.edit-profile-container button:hover {
background-color: #0056b3;
}


/* fin del CSS del perfil*/

/*Error Page Css*/


.error-containerErrorPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #80aa80; /* Verde dulce */
  height: 100vh;
  padding: 20px;
}

.error-messageErrorPage {
  flex: 1;
  padding: 20px;
  color: white; /* Color blanco para el texto */
}

.error-messageErrorPage h1 {
  position: relative;
  top: 100%;
  bottom: 30px;
  font-size: 125px; /* Aumentar tamaño de texto */
  text-shadow: 4px 4px 8px rgb(0, 0, 0); /* Añadir contorno negro */
  
}
.error-messageErrorPage h2 {
  position: relative;
  top: 100%;
  bottom: 30px;
  left: 70px;
  font-size: 30px; /* Aumentar tamaño de texto */
  text-shadow: 4px 4px 8px rgb(0, 0, 0); /* Añadir contorno negro */
}

.error-messageErrorPage button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  position: absolute;
  bottom: 27%;
  left: 200px;
  
}

    
.error-messageErrorPage button:hover {
  background-color: #3ebd53;
  transform: scale(1.05);
}



.image-wrapper {
  display: flex;
  align-items: flex-end; /* Alinear la ranita y la planta en la parte inferior */
  margin-right: 150px; /* Espacio entre las imágenes */
}

.main-imageErrorPage {
  position: relative;
  width: 300px; /* Tamaño ajustado de la ranita */
  height: auto;
  margin-right: 5px;
  z-index: 3; /* Espacio entre la ranita y la planta */
  left: 150px;
}

.side-imageErrorPage {
  width: 300px; /* Tamaño ajustado de las plantas */
  position: relative;
  height: auto;
  top: -45px;
  left: -30px;
  z-index: 0;
}

.error-gif-overlay {
  position: absolute;
  top: -30px; /* Ajusta según lo necesites */
  left: 150px;
  width: 75%;
  height: 100%;
  z-index: 3;
  object-fit: cover;
}

@media (max-width: 768px) {
  .error-gif-overlay {
    width: 150px;
    position: absolute; /* Cambiado a absolute */
    top: -450px; /* Centrado verticalmente */
    left: 220px; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro del GIF */
    z-index: 2; /* Asegúrate de que esté por encima */
  }

  .error-containerErrorPage {
    display: flex;
    position: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  

  .main-imageErrorPage{
    width: 150px;
    position: relative;
    top: -500px; 
    z-index: 2;
  }
  .side-imageErrorPage {
    width: 150px;
    position: relative;
    top: -525px; /* Ajusta el tamaño de las imágenes según necesites */
  }

  .error-messageErrorPage {
    text-align: center;
    
  }

  .error-messageErrorPage h1 {
    font-size: 16vw;
    position: relative;
    top: 50%;
  }

  .error-messageErrorPage h2 {
    font-size: 8vw;
    position: relative;
    top: 50%;
    text-align: center;
    left:20px;
   
  }

  .error-messageErrorPage button {
    font-size: 4vw;
    margin-top: 10px; /* Espacio entre h2 y el botón */
    
  }
}
/*Fin De Error Page*/

/*Estilo de Notificacion*/
.noti-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.noti-button:hover {
  background-color: #0056b3;
}

/* Footer*/
.footer {
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  color: white; 
  padding: 5px 10px; 
  border-radius: 5px; 
  font-size: 0.9rem; 
  z-index: 20; 
}

@media (max-width: 768px) {
  .footer {
      display: none; 
  }
}

.footer1 {
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  color: rgb(0, 0, 0); 
  padding: 5px 10px; 
  border-radius: 5px; 
  font-size: 0.9rem; 
  z-index: 20; 
}

@media (max-width: 768px) {
  .footer1 {
      display: none; 
  }
}


/*Fin de Footer*/
/*Fin de Footer*/